:root {
    --green: #00FF44;
    --red: #FE2525;
    --blue: #05ACEB;
    --orange: #F68D14;
    --gray: #D8D4D4;
    --lightgray: #ECE7E7;
    --white: #fff;
    --black: rgb(32, 30, 30);
    --background-blue: #58a4c1;
    --white-transparent: rgba(255, 255, 255, 0.6);
}
*::-webkit-scrollbar {
    width: 3px;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--blue);
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    padding-left: 10px;
    color: var(--black);
}
